<form class="form-container" [formGroup]="form" (ngSubmit)="handleSubmitForm()">
  <div class="form-title">Edit a Task</div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Task Name</mat-label>
      <mat-select formControlName="task" required>
        <mat-option *ngFor="let item of taskList" [value]="item">{{item['_id'] | uppercase}}</mat-option>
      </mat-select>
      <i matSuffix class="fas fa-pen"></i>
      <mat-hint>Select a Task to edit</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Operation Frequency</mat-label>
      <mat-select formControlName="frequency" required>
        <mat-option *ngFor="let item of frequencyList" [value]="item">{{item | uppercase}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>calendar_today</mat-icon>
      <mat-hint>How often should this task be performed</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Type of Areas</mat-label>
      <mat-select formControlName="hkAreas" multiple required>
        <mat-option *ngFor="let item of areaGroups" [value]="item">{{item | uppercase}}</mat-option>
      </mat-select>
      <i class="fas fa-clone" matSuffix></i>
      <mat-hint>What Areas does this task include</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <button mat-button type="submit"><i class="fas fa-pen-square"></i> Update</button>
  </div>
</form>
