<div class="main-container">
  <div class="header-container">
    <div class="info-container">
      <div class="task-title-container" *ngIf="currentTask" [matMenuTriggerFor]="taskMenu">
        <div class="task-name-title">{{currentTask.task | titlecase}}</div>
        <div class="task-frequency">{{currentTask.task}}</div>
      </div>

      <mat-menu #taskMenu="matMenu">
        <button *ngFor="let task of taskList" mat-menu-item (click)="handleTaskSelect(task)">{{task.task | titlecase}}</button>
      </mat-menu>

      <div class="date-container" *ngIf="displayDate !== ''">
        <div class="date-picker">
          <mat-form-field style="width:1px;visibility:hidden;">
            <input matInput (dateChange)="handleDateChange()" [formControl]="dateControl" [matDatepicker]="picker" >
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="date-display" (click)="picker.open()">
          <i class="fas fa-calendar-alt"></i>
          <span>{{displayDate}}</span>
        </div>
      </div>
    </div>
    <i class="fas fa-cog settings" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleAddTask()">Add Task</button>
        <button mat-menu-item (click)="handleAddPublicArea()">Add Public Area</button>
        <button mat-menu-item (click)="handleEditTask()">Edit Task</button>
        <button mat-menu-item (click)="handlePrint()">Print</button>
      </mat-menu>
    </i>
  </div>

  <div class="display-panel" *ngIf="listReady">
    <mat-card>
      <mat-card-content>
        <div class="content-container">
          <div class="list-container" >

            <div class="item-title" *ngIf="currentDisplayType === 0; else showPublicAreaTitle">Guest Rooms</div>
            <ng-template #showPublicAreaTitle>
              <div class="item-title">Public Areas</div>
            </ng-template>

            <div class="item-list">
                <div
                  *ngFor="let item of currentList; let i = index"
                  class="list-room-item {{'day-' + getWeekDay()}} {{'list-column-' + floor(i / ceil(currentList.length / 3))}}"
                  [ngClass]="{'item-complete': item.status}"
                  (click)="updateListItem(item)"
                >
                  <div class="list-room-info">
                    <div class="list-room-number">{{item.itemName}}</div>
                    <div class="list-room-type">{{item.extraInfo}}</div>
                  </div>
                  <ng-container *ngIf="item.status; else showIncomplete">
                    <i class="fas fa-undo-alt"></i>
                  </ng-container>
                  <ng-template #showIncomplete>
                    <i class="fas fa-thumbs-up"></i>
                  </ng-template>
                </div>
            </div>
          </div>

          <div class="filter-container">

            <div class="floor-names" *ngIf="currentTask.guestRoomLists.ids.length > 0">
              <div class="filter-title"> Floor Name</div>
              <div class="filter-list">
                <div class="filter"
                     [ngClass]="{'filter-selected': floorName === currentId}"
                     (click)="handleIdClick(floorName, 0)" *ngFor="let floorName of currentTask.guestRoomLists.ids">
                  {{floorName}}
                </div>
              </div>
            </div>

            <div class="area-groups" *ngIf="currentTask.publicAreaLists.ids.length > 0">
              <div class="filter-title"> Area Groups</div>
              <div class="filter-list">
                <div class="filter"
                     [ngClass]="{'filter-selected':area === currentId}"
                     (click)="handleIdClick(area, 1)" *ngFor="let area of currentTask.publicAreaLists.ids">
                  {{area}}
                </div>
              </div>
            </div>
            <!--            <div class="status">Status</div>-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="print-div" *ngIf="listReady">
    <app-hk-list-print [task]="currentTask"></app-hk-list-print>
  </div>
</div>
