
@mixin flexDisplay {
  display: flex;
  align-items: center;
}

$box-shadow: '0 5px 7px #191919';

.main-container{
  height: 100vh;
  width: 100vw;
  background-color: #1d1e21;
  color: grey;
  &, & * {
    box-sizing: border-box;
  }
}

.header-container {
  @include flexDisplay;
  height: 14vh;
  padding: 1vh 4vw;
  justify-content: space-between;
  .info-container {
    @include flexDisplay;
  }

  .task-name-title, .settings {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }
  .task-title-container {
    padding-right: 20px;
    border-right: 1px solid #B7B7B7;
    animation: slideTo-top ease-in-out 1s;
  }
  .task-frequency {
    text-transform: uppercase;
    color: #a39f9f;
    font-size: 12px;
    line-height: 14px;
  }
  .date-container {
    @include flexDisplay;
    padding-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 33px;
    color: #A39F9F;
    animation: slideTo-bottom ease-in-out 1s;
    i {
      padding-right: 10px;

    }
  }

  .task-title-container, .settings, .date-display {
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
      color: darkorange !important;
    }
  }

  .settings:hover {
    animation-name: rotateCog;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotateCog {
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin slideTo($position) {
  @keyframes slideTo-#{$position} {
    from {
      z-index: -1;
      position: relative;
      #{$position}: 50px;
    }
    to {
      z-index: 1;
      position: relative;
      #{$position}: 0;
    }
  }
}

@include slideTo(top);
@include slideTo(left);
@include slideTo(bottom);
@include slideTo(right);

.display-panel {
  height: 86vh;
  padding: 3vh 4vw;
  & > mat-card {
    height: 100%;
    padding: 0;
    border-radius: 12px;
    background-color: transparent;
    box-shadow: none;
    color: #FFFFFF;
    mat-card-content {
      height: 100%;
    }
    .content-container {
      display: flex;
      padding: 30px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      .list-container {
        width: 80%;
        padding: 25px;
        //border-right: 1px solid #B7B7B7;
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-title {
          font-family: Monaco, "Lucida Console", monospace;
          font-size: 24px;
          line-height: 26px;
          text-align: center;
          padding: 0 15px 10px;
          border-bottom: 1px solid #3e3e3e;
          margin-bottom: 15px;
          animation: slideTo-right ease-in-out 1s;
        }
        .item-list {
          height: 100%;
          width: 100%;
          overflow-y: hidden;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-flow: row dense;
          grid-auto-rows: 90px;
          &:hover {
            overflow-y: scroll;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 25px;
          }
          .list-room-item {
            @include flexDisplay;
            cursor: pointer;
            justify-content: space-between;
            padding: 10px 25px;
            margin: 15px;
            box-shadow: 0 5px 7px #191919;
            border-radius: 12px;
            animation: slideTo-top ease-in-out 1s;
            &:hover {
              transform: scale(1.05);
            }
            .list-room-type {
              font-size: 12px;
              line-height: 14px;
              color: #a2a2a2;
            }
          }

          $dayColors: #FDC04C #E47029 #a7a5a1 #362cb1 #00ff57 #1a8c34 #f57d7d #af2525 #f57d7d #af256f #7d8df5 #2560af #f5ea7d #af9425;

          @mixin dayLoop() {
            @for $i from 1 to 8 {
              #{'.item-complete.day-' + ($i - 1)} {
                background: radial-gradient(196.67% 196.67% at -54.22% -111.25%, #{nth($dayColors, $i * 2 - 1)} 0%, #{nth($dayColors, $i * 2)} 100%);
                color: #FFFFFF !important;
              }
              $i: $i + 2;
            }
          }

          @include dayLoop();

          .list-column-0 {
            grid-column-start: 1;
          }
          .list-column-1 {
            grid-column-start: 2;
          }
          .list-column-2 {
            grid-column-start: 3;
          }
        }
      }
      .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18%;
        padding: 25px;
        border-radius: 15px;
        text-align: center;
        transition: all ease-in-out 1s;
        transform: perspective(1000px) rotate3d(0, 1, 0, -40deg);
        box-shadow: 13px 8px 20px 0 #191919;
        @keyframes elevate {
          from {
            transform: perspective(1000px) rotate3d(0, 1, 0, -40deg);
            box-shadow: 13px 8px 20px 0 #191919;
          }
          50% {transform: perspective(1000px) translate3d(0, 10px, 0)}
          to {
            transform: perspective(1000px) translate3d(0, 10px, 30px);
            box-shadow: 0 15px 20px 4px #191919;
          }
        }
        &:hover {
          width: 20%;
          transform: perspective(1000px) translate3d(0, 10px, 30px);
          box-shadow: 0 15px 20px 4px #191919;
          animation: elevate ease-in-out 1s;
        }
        > div {
          height: 50%;
          margin: 10px;
          border-radius: 10px;
          padding: 20px;
          animation: slideTo-left ease-in-out 2s;
          .filter-list {
            overflow: hidden;
            height: 100%;
            &:hover {
              overflow-y: auto;
            }
            &::-webkit-scrollbar {
              width: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
              border-radius: 25px;
            }
          }
          .filter-title {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #A39F9F;
          }
          .filter {
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            margin: 14px 0;
            text-transform: uppercase;
            &:hover {
              color: #e589339e;
            }
          }
          .filter-selected {
            color: #E58933;
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

@media screen {
  .print-div {
    display: none;
  }
}

@media print {
  .header-container, .display-panel, mat-menu, .mat-menu-panel {
    display: none;
  }
}
