
@mixin flexDisplay {
  display: flex;
  align-items: center;
}

.main-container{
  height: 100vh;
  width: 100vw;
  background-color: #1d1e21;
  color: grey;
  &, & * {
    box-sizing: border-box;
  }
}

.header-container {
  @include flexDisplay;
  height: 14vh;
  padding: 1vh 4vw;
  justify-content: space-between;
  .info-container {
    @include flexDisplay;
  }

  .task-name-title, .settings {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }
  .task-title-container {
    padding-right: 20px;
    border-right: 1px solid #B7B7B7;
  }
  .task-frequency {
    text-transform: uppercase;
    color: #a39f9f;
    font-size: 12px;
    line-height: 14px;
  }
  .date-container {
    @include flexDisplay;
    padding-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 33px;
    color: #A39F9F;
    i {
      padding-right: 10px;
    }
  }

  .task-title-container, .settings, .date-display {
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
      color: darkorange !important;
    }
  }

  .settings:hover {
    animation-name: rotateCog;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotateCog {
    to {
      transform: rotate(360deg);
    }
  }
}

.display-panel {
  height: 86vh;
  padding: 3vh 4vw;
  & > mat-card {
    height: 100%;
    padding: 0;
    border-radius: 12px;
    background-color: #353434;
    color: #FFFFFF;
    mat-card-content {
      height: 100%;
    }
    .content-container {
      display: flex;
      padding: 30px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      .list-container {
        width: 80%;
        padding: 25px;
        border-right: 1px solid #B7B7B7;
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-title {
          font-size: 24px;
          line-height: 26px;
          text-align: center;
          padding: 0 10px 10px;
          border-bottom: 1px solid #676767;
          margin-bottom: 10px;
        }
        .item-list {
          height: 100%;
          width: 100%;
          overflow: auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-flow: row dense;
          grid-auto-rows: max-content;
          .list-room-item {
            @include flexDisplay;
            cursor: pointer;
            justify-content: space-between;
            padding: 10px 25px;
            margin: 15px;
            box-shadow: 0 5px 7px #292929;
            border-radius: 12px;
            &:hover {
              transform: scale(1.05);
            }
            .list-room-type {
              font-size: 12px;
              line-height: 14px;
              color: #a2a2a2;
            }
          }

          .item-complete {
            background: radial-gradient(196.67% 196.67% at -54.22% -111.25%, #FDC04C 0%, #E47029 100%);
            color: #FFFFFF;
          }
          .list-column-0 {
            grid-column-start: 1;
          }
          .list-column-1 {
            grid-column-start: 2;
          }
          .list-column-2 {
            grid-column-start: 3;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 25px;
          }
        }
      }
      .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        padding: 25px;
        text-align: center;
        transition: all ease-in-out 500ms;
        &:hover {
          width: 25%;
        }
        > div {
          height: 50%;
          overflow: auto;
          margin: 10px;
          box-shadow: 0 2px 5px #2b2b2b;
          border-radius: 10px;
          padding: 20px;
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 25px;
          }
          .filter-title {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #A39F9F;
          }
          .filter {
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            margin: 14px 0;
            text-transform: uppercase;
            &:hover {
              color: #e589339e;
            }
          }
          .filter-selected {
            color: #E58933;
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

@media screen {
  .print-div {
    display: none;
  }
}

@media print {
  .header-container, .display-panel, mat-menu, .mat-menu-panel {
    display: none;
  }
}
