<div class="main-container">
  <div class="header-container">
    <div class="info-container">
      <div class="task-title-container" *ngIf="currentTask" [matMenuTriggerFor]="taskMenu">
        <div class="task-name-title">{{currentTask['task'] | titlecase}}</div>
        <div class="task-frequency">{{currentTask['frequency']}}</div>
      </div>

      <mat-menu #taskMenu="matMenu">
        <button *ngFor="let task of taskList" mat-menu-item (click)="handleTaskSelect(task)">{{task['task'] | titlecase}}</button>
      </mat-menu>
      <div class="date-container">
        <div class="date-picker">
          <mat-form-field style="width:1px;visibility:hidden;">
            <input matInput (dateChange)="handleDateChange()" [formControl]="dateControl" [matDatepicker]="picker" >
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="date-display" (click)="picker.open()">
          <i class="fas fa-calendar-alt"></i>
          <span>{{displayDate}}</span>
        </div>
      </div>
    </div>
    <i class="fas fa-cog settings" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleAddTask()">Add Task</button>
        <button mat-menu-item (click)="handleAddPublicArea()">Add Public Area</button>
      </mat-menu>
    </i>
  </div>

  <div class="display-panel">
    <mat-card>
      <mat-card-content>
        <div class="content-container">
          <div class="list-container" >
            <div class="item-title">{{currentDisplayType === 'guestRooms' ? 'Guest Rooms' : 'Public Areas'}}</div>
            <div class="item-list">
              <ng-container  *ngIf="guestRooms && guestRooms.length > 0 && currentDisplayType==='guestRooms'">
                <div
                  class="list-room-item {{'list-column-' + floor(i / ceil(currentRoomList.rooms.length / 3))}}"
                  *ngFor="let item of currentRoomList.rooms; let i = index;"
                  [ngClass]="{'item-complete': isItemComplete(currentFloor, item.room)}"
                  (click)="updateListItem(currentFloor, item.room)"
                >
                  <div class="list-room-info">
                    <div class="list-room-number">{{item.room}}</div>
                    <div class="list-room-type">{{item.type}}</div>
                  </div>
                  <ng-container *ngIf="isItemComplete(currentFloor, item.room); else showIncomplete">
                    <i class="fas fa-undo-alt"></i>
                  </ng-container>
                  <ng-template #showIncomplete>
                    <i class="fas fa-thumbs-up"></i>
                  </ng-template>
                </div>
              </ng-container>

              <ng-container *ngIf="publicAreas && publicAreas.length > 0 && currentDisplayType==='publicAreas'">
                <div
                  class="list-room-item {{'list-column-' + floor(i / ceil(currentPublicAreaList.areas.length / 3))}}"
                  *ngFor="let item of currentPublicAreaList.areas; let i = index"
                  [ngClass]="{'item-complete': isItemComplete(currentPublicArea, item.area)}"
                  (click)="updateListItem(currentPublicArea, item.area)"
                  matTooltip="{{item.comments}}"
                >
                  <div class="list-room-info">
                    <div
                      class="list-room-number">
                      {{item.area | titlecase}}
                    </div>
                  </div>
                  <ng-container *ngIf="isItemComplete(currentPublicArea, item.area); else showIncomplete">
                    <i class="fas fa-undo-alt"></i>
                  </ng-container>
                  <ng-template #showIncomplete>
                    <i class="fas fa-thumbs-up"></i>
                  </ng-template>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="filter-container">
            <div class="floor-names" *ngIf="floorNames.length > 0">
              <div class="filter-title"> Floor Name</div>
              <div class="filter"
                   [ngClass]="{'filter-selected': currentDisplayType === 'guestRooms' && floorName === currentFloor}"
                   (click)="handleFloorNameClick(floorName)"  *ngFor="let floorName of floorNames">
                {{floorName}}
              </div>
            </div>
            <div class="area-groups" *ngIf="publicAreaNames.length > 0">
              <div class="filter-title"> Area Groups</div>
              <div class="filter"
                   [ngClass]="{'filter-selected': currentDisplayType === 'publicAreas' && area === currentPublicArea}"
                   (click)="handleAreaNameClick(area)" *ngFor="let area of publicAreaNames">
                {{area}}
              </div>
            </div>
            <!--            <div class="status">Status</div>-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
