
@media (min-width: 70em) {
  .fixed {
    position: sticky;
    top:100px;
  }

  .ins-score {
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 1000;
    padding: 10px;
    font-family: serif;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    font-size: larger;
  }
}

@media (max-width: 37.5em)  {
  .fixed {
    margin-top: 10px;
    margin-left: 10px;
  }
  .one {
    order: 1;
    margin-top: 35px !important;
  }
  .two {
    order: 2;
  }
  .three {
    order: 3;
  }
  .ins-score {
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 1000;
    padding: 10px;
    font-family: serif;
    border-radius: 10px;
  }
}

.active {
  border-left: 2px solid !important;
}

.employee-name:hover {
  border-left: 2px solid rgba(7, 51, 255, 0.32);
}

mat-progress-spinner {
  position:fixed;
  left:50%;
  top:50%;
  z-index: 12000;
}

