
.ins-score {
  position: sticky;
  float: right;
  bottom: 50%;
  right: 0;
  z-index: 1000;
  padding: 10px;
  font-family: serif;
  border-radius: 10px;
}

@media (min-width: 70em) {
  .fixed {
    position: sticky;
    top:100px;
  }

  .ins-score {
    width: 300px;
    height: 100px;
    font-size: larger;
  }
}


@media (max-width: 37.5em)  {
  .fixed {
    margin-top: 10px;
    margin-left: 10px;
  }
  .one {
    order: 1;
    margin-top: 35px !important;
  }
  .two {
    order: 2;
    display: block;
  }
}

.active {
  border-left: 2px solid !important;
}

.employee-name:hover {
  border-left: 2px solid rgba(255, 251, 249, 0.32);
}

mat-progress-spinner {
  position:fixed;
  left:50%;
  top:50%;
  z-index: 12000;
}

.mat-radio-button {
  margin: 1rem !important;
}

textarea::placeholder {
  color: white;
}

.inspection-scores {
  word-break: break-word;
}

@media print {
  .two {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0;
  }

  .inspection-scores {
    font-size: 12px;
  }

  .cat-title {
    font-size: 15px;
    position: relative;
    left: -15px;
    text-decoration: underline dotted grey;
  }

  dl {
    margin-bottom: 0;
  }

  .col-sm-4, .col-sm-3 {
    margin: 0;
    padding: 0
  }

  h3, h5 {
    font-weight: 300;
    font-size: 1rem;
    margin:0;
    padding: 0;
    color: #d7c3c7;
  }

  .card {
    margin:0;
    padding: 0;
  }

  .ins-details {
    transform: translateY(-50%);
    margin-bottom: -3%;
    padding: 0;
  }
}

label > .mat-form-field-label {
  color: #a8a8aa !important;
}
