<div class="row">

  <!--Left Panel-->
  <div class="col-sm-2 d-print-none two animated fadeInLeft" style="margin-top: 3%;padding-left: 2%">
    <div class="fixed">
      <div *ngIf="isAdmin()">
        <mat-list >
          <h3 mat-subheader>Admin Controls</h3>
          <button *ngIf="!isProduction()" mdbBtn mdbWavesEffect color="danger" mat-list-item (click)="resetInspections()">Reset Inspections</button>
          <button mdbBtn mdbWavesEffect color="secondary" mat-list-item (click)="createInsItems()">Create Inspection Items</button>
        </mat-list>
        <hr class="my-4">
      </div>
      <mat-list class="fixed">
        <h3 mat-subheader>Employees</h3>
        <a mdbWavesEffect mat-list-item *ngFor="let employee of employees; let i = index"
           class="employee-name"
           (click)="getEmployeeIns(employee, i)"
           [ngClass]="{'active': currentEmployee === employee}">
          {{employee.name}}
          <!--Badge for Employees-->
          <span class="badge badge-danger ml-2">
            {{employee['num_inspections'] != 0 ? (employee['total_score'] / employee['num_inspections'] * 100| number:'1.1-2'): '0.0'}}%
          </span>
        </a>
      </mat-list>
    </div>
  </div>
  <!--Left Panel Ends-->

  <!--Inspection Panel-->
  <div class="col-sm-7 three">
    <mat-progress-spinner color="warn" mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>

    <!--Employee Details-->
    <div class="employee-details" *ngIf="currentEmployee !== undefined && employeeScores !== undefined">
      <mdb-card class="text-center">
        <mdb-card-body>
          <mdb-card-title>
            <h3>{{currentEmployee['name']}}</h3>
          </mdb-card-title>
          <mdb-card-text>
            <span *ngIf="currentEmployee['num_inspetions'] != 0; else showZeroScore">
              <h5>Total Inspections: {{currentEmployee['num_inspections']}} | Overall Score: {{currentEmployee['total_score'] / currentEmployee['num_inspections'] * 100| number:'1.1-2'}}%</h5>
            </span>
            <ng-template #showZeroScore>
              Total Inspections: 0 | Score: 0%
            </ng-template>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>

      <br class="d-print-none">

      <mdb-card *ngIf="showInspection || showInspections" class="text-center sticky-top" style="z-index:1040 !important;">
        <mdb-card-body>
          <mdb-card-title class="d-print-none">
            <h3 *ngIf="showInspections">Inspection List for {{currentEmployeeScore['month'] | uppercase}} {{currentEmployeeScore['year']}}</h3>
            <h3 *ngIf="showInspection">Inspection Details</h3>
          </mdb-card-title>
          <mdb-card-text *ngIf="showInspection">
            <h5>
              Room #: {{currentInspection['room_number']}} |
              Date: {{currentInspection['day']}} {{currentInspection['month'] | uppercase}} {{currentInspection['year']}} |
              Score: {{currentInspection['score'] * 100| number:'1.1-2'}}% |
              No. of Employees: {{currentInspection['num_employees']}}
            </h5>
            <button mdbBtn mdbWavesEffect class="d-print-none d-none d-lg-inline"
                    onclick="document.body.scrollTop = 0;document.documentElement.scrollTop = 0;window.print()" color="primary">
              <i class="fas fa-print"></i> Print Inspection
            </button>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
      <br>
      <!--Employee Details End-->

      <!--Inspection Form List Begins-->
      <div *ngIf="showInspectionForm" class="ins-items col-md-12 one d-print-none">
        <div *ngFor="let object of insItems">
          <p class="h3">{{object._id.cat | uppercase}}</p>
          <div *ngFor="let item of object.items; let i = index">
          <span>
            <p class="h6">{{item.item | uppercase}}</p>
            <mat-radio-group [(ngModel)]="insScores[item._id]" (change)="radioChange()">
              <mat-radio-button color="primary" value="1">Excellent</mat-radio-button>
              <mat-radio-button color="primary" value=".80">Good</mat-radio-button>
              <mat-radio-button color="primary" value=".5">Needs Improvement</mat-radio-button>
              <mat-radio-button color="primary" value="0">Bad</mat-radio-button>
              <mat-radio-button color="primary" value="-1" [checked]="insScores[item._id] === ''">None</mat-radio-button>
            </mat-radio-group>
          </span>
            <mat-form-field>
              <textarea matInput placeholder="Comments" [(ngModel)]="insComments[item._id]"></textarea>
            </mat-form-field>
            <hr class="my-3">
          </div>
        </div>
        <button *ngIf="!showSpinner" mdbBtn mdbWavesEffect (click)="submitInspection()"
                [disabled]="showSpinner" class="teal darken-2">
          <i class="fa fa-paper-plane-o ml-1"></i> Submit Inspection
        </button>
        <button *ngIf="showSpinner" mdbBtn disabled class="teal darken-2">
          <p class="red-text"><i class="fa fa-paper-plane-o ml-1"></i> Submitting...</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </button>

        <div class="ins-score text-center z-depth-2 indigo darken-4" mdbBtn mdbWavesEffect>
          Total Score
          <br>
          {{totalScore | number:'1.1-2'}} / {{totalItems}}
          <br>
          {{totalScore / totalItems *  100 | number:'1.1-2'}} %
        </div>
      </div>
      <!--Inspection Form list Ends-->

      {{employeeScores.data.length === 0 && !showInspectionForm ? 'No Inspections recorded for ' + currentEmployee['name'] + ' yet' : ''}}

      <!--Monthly Inspections List-->
      <div *ngIf="!showInspections && !showInspectionForm && !showInspection && employeeScores.data.length > 0">
        <mat-table [dataSource]="employeeScores" matSort (matSortChange)="sortData(employeeScores, $event)" class="mat-elevation-z8 animated fadeInUp">

          <ng-container *ngFor="let value of MonthInspectionsDisplayedColumns" matColumnDef="{{value}}">

            <mat-header-cell mdbWavesEffect *matHeaderCellDef mat-sort-header>
              {{value === 'score' ? (value + '(%)' | uppercase) : value | uppercase}}</mat-header-cell>

            <mat-cell *matCellDef="let element" class="animated fadeInUp">

              <ng-template #showData>
                {{value === 'month' ? (element[value] | uppercase) : ''}}
                {{value === 'score' ? (element['score'] / element['num_inspections'] * 100 | number:'2.1-2') + '%' : ''}}
                {{value === 'year' || value === 'num_inspections' ? element[value] : ''}}
              </ng-template>

              <div *ngIf="value === 'view/delete'; else showData">
                <button mdbBtn mdbWavesEffect color="primary"
                        class="edit-button z-depth-2"
                        (click)="viewInspections(element)">
                  <i class="far fa-eye"></i>
                </button>
                <button mdbWavesEffect mdbBtn color="danger"
                        class="edit-button z-depth-2"
                        (click)="setCurrentScore(element); deleteMonthlyInspectionFrame.show()">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>

            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="MonthInspectionsDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: MonthInspectionsDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
      <!--Monthly Inspection ENds-->

      <!--Inspetions list for employee-->
      <div *ngIf="showInspections && !showInspectionForm && employeeInspections.data.length > 0">

        <mat-table [dataSource]="employeeInspections" matSort (matSortChange)="sortData(employeeInspections, $event)"
                   class="mat-elevation-z8 animated fadeInUp">
          <ng-container *ngFor="let value of inspectionsDisplayedColumns"
                        matColumnDef="{{value}}">
            <mat-header-cell mdbWavesEffect *matHeaderCellDef mat-sort-header>
              {{value === 'action' ? 'View/Delete Inspection' : value | uppercase}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="animated fadeInUp">
              {{value === 'month' ? (element['inspections'][value] | uppercase) : ''}}
              {{value === 'score' ? (element['inspections'][value] * 100 | number:'2.1-2') + '%' : ''}}
              {{value !== 'month' && value !== 'score' ? element['inspections'][value] : ''}}

              <div *ngIf="value === 'view/delete'">
                <button mdbBtn mdbWavesEffect color="primary"
                        class="edit-button z-depth-2"
                        (click)="viewInspection(element['inspections'])">
                  <i class="far fa-eye"></i>
                </button>

                <button mdbBtn mdbWavesEffect color="danger"
                        class="edit-button z-depth-2"
                        (click)="deleteInspectionFrame.show(); setCurrentInspection(element)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="inspectionsDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: inspectionsDisplayedColumns;"></mat-row>
        </mat-table>
      </div>

      <!--Inspection Scores-->
      <div class="row" *ngIf="showInspection">
        <div class="col-sm-6 inspection-scores" *ngFor="let object of inspectionItems; let i = index">
          <p class="h3 cat-title">{{object._id | uppercase}} (Category Score: {{catScores[i] * 100 | number:'2.1-2'}}%)</p>
          <dl class="row" *ngFor="let item of object.items">
              <dt class="col-sm-3">{{item.inspection.item | uppercase}}</dt>
              <dd class="col-sm-3">{{item.item.score != -1 ? scoreCategory[floor(item.item.score * 3)] : 'Not Inspected'}}</dd>
              <dd class="col-sm-6">{{item.item.comment}}</dd>
          </dl>
        </div>
      </div>

    </div>

  </div>

  <!--Right Panel Begins-->
  <div class="col-sm-2 one animated fadeInRight d-print-none">
    <!--New Inspection Form-->
    <mat-list class="fixed">
      <h3 mat-subheader>Start New Inpsection</h3>
      <mat-accordion>
        <mat-expansion-panel  [expanded]="panelOpened" (opened)="toggleNewInspectionPanel()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p><i class="fas fa-plus-circle"></i> New Inspection</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form>
            <mat-form-field>
              <input matInput placeholder="Room Number" name="roomNo" [(ngModel)]="currentInspection.room_number" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select name="emp" placeholder="Room Attendant(s)" [(ngModel)]="selectedEmployees" multiple>
                <mat-option *ngFor="let employee of employees"
                            [value]="employee">{{employee.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Inspection Date" name="inspectionDate" [matDatepicker]="picker"
                     (focus)="picker.open()" readonly [(ngModel)]="newInspectionDate" required>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>

            <mat-action-row>
              <!--"Add" button-->
              <button mat-mini-fab color="primary" (click)="startNewInspection()">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list>
    <!--New Inspection form Ends-->
  </div>
  <!--Right Panel Ends-->


  <div class="footer-divider"></div>
</div>

<!--Delete Monthly Inspections Modal-->
<div mdbModal #deleteMonthlyInspectionFrame="mdbModal" style="z-index: 12000 !important;" class="modal fade left" id="deleteMonthlyInspections" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Inspection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteMonthlyInspectionFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <blockquote class="blockquote bq-warning">
          <p class="bq-title">Are you sure you wanna delete this Inspection?</p>
        </blockquote>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light btn btn-primary" (click)="deleteMonthlyInspectionFrame.hide()" mdbWavesEffect>Cancel</button>
        <button mdbBtn class="waves-light btn btn-danger btn-rounded" color="danger"
                (click)="deleteMonthlyInspectionFrame.hide();deleteMonthlyInspections()" mdbWavesEffect>Delete</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Single Inspection Modal-->
<div mdbModal #deleteInspectionFrame="mdbModal" style="z-index: 12000 !important;" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Inspection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteInspectionFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <blockquote class="blockquote bq-warning">
          <p class="bq-title">Are you sure you wanna delete this Inspection?</p>
        </blockquote>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light btn btn-primary" (click)="deleteInspectionFrame.hide()" mdbWavesEffect>Cancel</button>
        <button mdbBtn class="waves-light btn btn-danger btn-rounded" color="danger" (click)="deleteInspectionFrame.hide();deleteInspection()" mdbWavesEffect>Delete</button>
      </div>
    </div>
  </div>
</div>
