
<div class="inventory-container">
  <span class="inventory-title">
    <h5 class="inventory-title-text display-5"><i class="fas fa-warehouse"></i> Inventory</h5>
  </span>
  <br><br>
  <mat-accordion>
    <mat-expansion-panel  [expanded]="panelOpened" (opened)="setPanelOpen(true)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><i class="fas fa-plus-circle"></i> New Item</p>
        </mat-panel-title>
        <mat-panel-description>
          Make a new Item entry
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <mat-form-field>
          <mat-select placeholder="Item Type" name="type" [(ngModel)]="newInventoryItem.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Item Name" name="itemName" [(ngModel)]="newInventoryItem.item_name" required>
        </mat-form-field>

        <span *ngFor="let formItem of displayedColumns">
          <mat-form-field  *ngIf="formItem !== 'action' && formItem !== 'item_name' && formItem !== 'total_count'
              && formItem !== 'total_cost'">
            <input type="number" matInput placeholder="{{formItem | uppercase}}"
                   name="{{formItem}}" [(ngModel)]="newInventoryItem[formItem]" required>
          </mat-form-field>
        </span>

        <mat-action-row>
          <!--"Add" button-->
          <button mat-mini-fab color="primary" (click)="addItem()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </mat-action-row>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <hr class="my-4">
  <span><input matInput (keyup)="applyFilter($event.target.value.trim())" id="search" name="search"
               placeholder="Search... By Item Name"></span>
  <hr class="my-3">

  <app-updatelost *ngIf="showUpdateBar"
                  [item]="currentLostItem"
                  (updated)="updateItem()"
                  (cancelled)="showUpdateBar = false;"
                  class="z-depth-3 update-lost-sidebar animated fadeInRight"></app-updatelost>

  <mat-tab-group (selectedTabChange)="changeType($event.index)" class="animated fadeInUp">
    <mat-tab color="primary" *ngFor="let type of types" label="{{type | uppercase}}">
      <hr class="my-4">
      <mat-table [dataSource]="inventoryTableData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8 lost-table">
        <ng-container *ngFor="let value of displayedColumns; let i = index" cdkColumnDef="{{value}}">
          <mat-header-cell mdbWavesEffect *matHeaderCellDef mat-sort-header class="text-center">
            {{value | uppercase}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="animated fadeInUp">
            {{value === 'item_name'? (element[value] | uppercase) : (element[value] | number:'.0-2')}}

            <div *ngIf="value === 'action'">
              <button mdbBtn gradient="warm-flame" class="edit-button z-depth-3"
                      matTooltip="Delete Item"
                      matTooltipPosition ="below"
                      (click)="sendItemInfo(element); deleteFrame.show()">
                <i class="fas fa-trash-alt"></i>
              </button>

              <button mdbWavesEffect mdbBtn
                      matTooltip="Edit Item"
                      matTooltipPosition ="below"
                      class="edit-button z-depth-3"
                      gradient="rainy-ashville"
                      (click)="sendItemInfo(element);updateFrame.show()"><i class="far fa-edit"></i>
              </button>
            </div>

          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="z-depth-3"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>

  <div class="footer-divider"></div>
</div>

<!--Delete Modal-->
<div mdbModal #deleteFrame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Inventory Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <blockquote class="blockquote bq-warning">
          <p class="bq-title">Are you sure you wanna delete the following Item?</p>
          <p>{{currentInventoryItem.item_name | uppercase}}</p>
        </blockquote>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light btn btn-primary" (click)="deleteFrame.hide()" mdbWavesEffect>Cancel</button>
        <button mdbBtn class="waves-light btn btn-danger btn-rounded" color="danger" (click)="deleteFrame.hide();deleteInventoryItem()" mdbWavesEffect>Delete</button>
      </div>
    </div>
  </div>
</div>


<!--Update Modal-->
<div mdbModal class="modal fade" #updateFrame="mdbModal" id="updateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Inventory Item: {{currentInventoryItem.item_name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="updateFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Item Name
          </mat-placeholder>
          <input matInput type="text" name="itemName" [value]="currentInventoryItem.item_name" autofocus [(ngModel)]="currentInventoryItem.item_name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Laundry
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.laundry" [(ngModel)]="currentInventoryItem.laundry" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Lockup
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.lock_up" [(ngModel)]="currentInventoryItem.lock_up" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Second Floor
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.second" [(ngModel)]="currentInventoryItem.second" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Third Floor
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.third" [(ngModel)]="currentInventoryItem.third" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Fourth Floor
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.fourth" [(ngModel)]="currentInventoryItem.fourth" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Fifth Floor
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.fifth" [(ngModel)]="currentInventoryItem.fifth" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Sixth Floor
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.sixth" [(ngModel)]="currentInventoryItem.sixth" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Par Stock
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.par_stock" [(ngModel)]="currentInventoryItem.par_stock" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Par 2.5
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.par_25" [(ngModel)]="currentInventoryItem.par_25" required>
        </mat-form-field>

        <mat-form-field>
          <mat-placeholder>
            <i class="fa fa-user prefix grey-text"></i> Cost Per Item
          </mat-placeholder>
          <input matInput type="number" name="room_no" [value]="currentInventoryItem.cost_per_item" [(ngModel)]="currentInventoryItem.cost_per_item" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Item Type" name="type" [(ngModel)]="currentInventoryItem.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{type | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="danger" class="waves-light btn btn-primary" (click)="updateFrame.hide()" mdbWavesEffect>Cancel</button>
        <button class="btn btn-unique" (click)="updateInventoryItem();updateFrame.hide()">Update <i class="far fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>
