
.lost-title {
  display:flex;
  justify-content: center;
  margin-top:3%;
}

.lost-title-text {
  align-self: center;
  font-family:fantasy;
  font-size: 40px;
}

.lost-image {
  height: 30px;
  align-self: center;
  margin-top: -8px;
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}

.update-lost-sidebar {
  position: fixed;
  top:0;
  right:0;
  height: 100%;
  width: 300px;
  background: rgba(13, 12, 12, 0.59);
}
