@import "../../globalVars";

@import '../../assets/css/animate-text';

.lost-title {
  display:flex;
  justify-content: center;
  margin-top:3%;
  animation: opendoor 1s ease-in-out 0s 1;
}


.update-lost-sidebar {
  position: sticky;
  float: right;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 1s ease-in-out;
  height: 100vh;
  top:0;
  bottom: 100%;
  border-radius: 50px;
  z-index: 1050;
}


@media (max-width: 37.5em)  {
  .lost-title {
    margin-top:20%;
  }
}

.bottom-menu {
  display: none;
}

.lost-title-text {
  align-self: center;
  font-family:fantasy;
  font-size: 40px;
}

.lost-image, .lost-icon {
  height: 30px;
  align-self: center;
  margin-top: -8px;
  transition: all 1s ease-in-out;
  animation: lost-things 3s ease-in-out 0s infinite;
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}

.lost-container {
  margin: 2% 5%;
}

.lost-icon {
  animation: lost-icon 3s ease-in-out 0s infinite;
}


@-webkit-keyframes lost-things {
  from {
    height: 0;
  }
  50% {
    height: 40px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes lost-icon {
  from {
    height: 40px;
    //transform: rotateY(180deg);
  }
  50% {
    height: 0;
  }
  to {
    height: 40px;
    //transform: rotateY(0deg);
  }
}
