@import "../../globalVars";


.lost-title {
  display:flex;
  justify-content: center;
  margin-top:3%;
}

@media (min-width: 70em) {
  .update-lost-sidebar {
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 400px;
  }
}


@media (max-width: 37.5em)  {
  .lost-title {
    margin-top:20%;
  }

  .update-lost-sidebar {
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 300px;
  }
}

.lost-title-text {
  align-self: center;
  font-family:fantasy;
  font-size: 40px;
}

.lost-image {
  height: 30px;
  align-self: center;
  margin-top: -8px;
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}
