
<div class="chat-header">
  <p class="chat-title">
    Hello, {{email}}
  </p>
  <a class="chat-close" (click)="closeChat.emit(true)"><i class="fas fa-times"></i></a>
</div>

<mat-divider></mat-divider>
<div class="container">
  <div *ngIf="isLoggedIn(); else showLoginButton">
    <div class="chat-msgs">
      <div *ngIf="msgs.length !== 0; else showMsg">
        <div *ngFor="let msg of msgs">
          <div [ngClass]="{'chat-my-msg': msg['from_email'] === email}">
          <span class="chat-email" [ngClass]="{'chat-my-email': msg['from_email'] === email}">
            {{msg['from_email'] === email ? 'You' : msg['from_email']}}</span>
            <span class="chat-date">{{msg['date'] | date}}</span>
            <a role="button"  (click)="openDialog(msg['_id'])" matTooltip="Delete Message" matTooltipPosition ="above"
               class="chat-delete" *ngIf="msg['from_email'] === email">
              <i class="fas fa-trash chat-delete-icon"></i>
            </a>
            <p class="chat-msg">{{msg['msg']}}</p>
          </div>
        </div>
      </div>
      <ng-template #showMsg>
        <mat-placeholder>
          <p>You have no messages. Send your first message to start the conversation.</p>
          <p>Your messages will appear here...</p>
        </mat-placeholder>
      </ng-template>
    </div>

    <mat-divider></mat-divider>

    <form class="chat-form">
      <mat-divider></mat-divider>
      <mat-form-field class="chat-txt">
        <textarea matInput placeholder="Type your message here" name="chat-msg"
                  rows="2" maxlength="140" (keyup)="handleKeyPress($event)"  [(ngModel)]="msg"></textarea>
      </mat-form-field>

      <button class="chat-send-btn" type="button" (click)="handleSendMsg()" color="secondary" mdbBtn mdbWavesEffect>
        <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>

  <ng-template #showLoginButton>
    <button mdbBtn mdbWavesEffect class="login-btn" (click)="handleLoginClick()" gradient="blue">Login</button>
  </ng-template>
</div>
