.chat-msgs {
  width: 100%;
  height: 25rem;
  overflow-y: auto;
  position: relative;
}

.chat-txt {
  width: 70%;
}

.chat-form {
  bottom: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  left: 0;
  margin: auto;
  padding: .2em 2em;
  text-align: center;
  color: black;
}
.chat-msg {
  overflow-wrap: break-word;
}

.chat-email {
  color: #00d2ed;
  font-style: italic;
}

.chat-my-email {
  color: #5c5edc;
  font-weight: bold;
}

.chat-my-msg {
  text-align: right;
  padding-right: 2em;
}

.chat-date {
  position: relative;
  left: .2rem;
  font-size: .8rem;
  color: whitesmoke;
  font-style: oblique;
}

.chat-send-btn {
  position: relative;
  left: 10px;
  border-radius: 50%;
}

.chat-close {
  position: absolute;
  right: 2em;
  top: 0;
}

.chat-header {
  background-color: #c6720b;
  width: 100%;
  padding: 0 1em;
  font-size: 18px;
  display: -ms-flexbox;
  text-align: center;
}

.chat-title {
  font-family: monospace;
  text-decoration: underline;
  text-align: center;
}

.chat-delete {
  position: relative;
  left: .5em;
}

.chat-delete-icon {
  color: red;
  font-size: .9em;
}

@media (max-width: 37.5em) {
  .chat-form {
    height: 100px;
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  .chat-msgs {
    height: 60vh;
  }

  .chat-close[_ngcontent-c6] {
    right: .4em;
  }

  .chat-txt {
    width: 50vw;
  }
}
