.chat-msgs {
  width: 100%;
  height: 25rem;
  overflow-y: auto;
  position: relative;
  //animation: glowing 1s ease-in-out 0s 3;
}

.chat-txt {
  width: 70%;
}

.chat-form {
  bottom: 0;
  background-color: white;
  width: 100%;
  position: fixed;
  left: 0;
  margin: auto;
  padding: .2em 2em;
  text-align: center;
  color: black;
}

.chat-date {
  position: relative;
  left: .2rem;
  font-size: .8rem;
  color: whitesmoke;
  font-style: oblique;
}

.chat-send-btn {
  position: relative;
  left: 1vw;
}

.chat-close {
  position: absolute;
  right: 2em;
  top: 0;
}

.chat-header {
  background-color: #c6720b;
  width: 100%;
  padding: 0 1em;
  font-size: 18px;
  display: -ms-flexbox;
  text-align: center;
}

.chat-title {
  font-family: monospace;
  text-decoration: underline;
  text-align: center;
  font-size: .8em;
}

.chat-alert {
  position: fixed;
  left: 35%;
  transform: translateX(-50%);
  width: fit-content;
  font-size: 14px;
  border-radius: 50px;
  background-color: #575794;
  padding: .5em;
  z-index: 2050;
  cursor: pointer;
}

.chat-msgs-animated {
  animation: glowing 1s ease-in-out 0s 3;
}

@keyframes glowing {
  0%{
    border: 5px solid red;
  }
  100%{
    border: none;
  }
}

@media (max-width: 37.5em) {
  .chat-form {
    height: 100px;
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  .chat-alert {
    left: 30%;
  }

  .chat-msgs {
    height: 60vh;
  }

  .chat-close[_ngcontent-c6] {
    right: .4em;
  }

  .chat-txt {
    width: 50vw;
  }
}
