
//Chat Btn Styles
.chat-btn {
  height: 4rem;

  width: 5em;
  z-index: 2050;
  border-radius: 100%;
  transition: width 200ms ease-in-out;
}

.chat-btn-container {
  position: absolute;
  bottom: 5rem;
  right: 0;
  display: flex;
  align-items: center;
}

.chat-bubble {
  position: relative;
  bottom: 3em;
  left: 5em;
  animation: sliding .5s ease-in-out 0s infinite;
}

.chat-help {
  text-align: center;
  overflow-wrap: break-spaces;
}

.chat-btn:hover {
  animation: bouncing 1s ease-in-out 0s infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes sliding {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateX(10px);
  }
}


.chat-icon {
  font-size: 2em;
  position: absolute;
  left: 30%;
  bottom: .7em;
  animation:  rotating .3s ease-in-out 0s infinite;
}

//Chat Window Styles
.chat-window {
  height: 60%;
  position: absolute;
  right: 2em;
  bottom: 0;
  width: 30%;
  background-color: #29292f;
  color: white;
  z-index: 2050;
}

@media (max-width: 37.5em)  {
  .chat-window {
    width: 100vw;
    right: 0;
    height: 90vh;
  }
}

.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 36px;
  margin-top: -36px;
}
