.floor-btn {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 40px;
  width: 100px;
  padding: 0;
}

.floor-btn-group {
  display: flex;
  justify-content: center;
}

.edit-button {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.edit-button:hover {
  position: relative;
  bottom: 3px;
  color: black;
}

a[mdbBtn] {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

mat-progress-spinner {
  position:fixed;
  left:50%;
  top:50%;
  z-index: 12000;
}

.active {
  border-left: 2px solid !important;
}

.floor:hover {
  border-left: 2px solid rgba(7, 51, 255, 0.32);
}

@media (min-width: 70em) {
  .fixed {
    position: sticky;
    top:100px;
  }
}

@media (max-width: 37.5em)  {
  .fixed {
    margin-top: 10px;
    margin-left: 10px;
  }
  .one {
    order: 1;
    margin-top: 45px !important;
  }
  .two {
    order: 2;
  }
  .three {
    order: 3;
  }
}
