@import "../globalVars";

footer {
  margin-top: 50px;
}

@mixin heading {
  margin-bottom: .35em;
  line-height: 1.2;
  color:inherit;
}

.footer-divider {
  margin: 20px 0;
  width: 100%;
  height: 2em;
  background-color: white;
  @include heading;
}

@media (min-width: 70em) {

  li:after {
    content: '';
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  li:hover:after {
    width: 100%;
    background: rgb(203, 11, 0);
  }

  .nav-bg-scroll-down {
    //background-color: #0d0d0db0 !important;
    opacity: .8;
    height: 50px;
    font-size: 1em;
  }
}

@media (max-width: 37em) {
  .active-page {
    border-left: 2px solid red;
  }
}

.indigo {
  background-image: url($my-base-path + 'navbar_background.jpg') !important;
}
