
<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item"><a class="link link--page" href="#page-home"><i class="fas fa-home"></i> Home</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-docu"><i class="fas fa-building"></i> Housekeeping</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-manuals"> <i class="fas fa-search-dollar"></i> Lost & Found</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-software"><i class="fas fa-clipboard-list"></i> Inspection</a></div>
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-buy">Where to buy</a></div>-->
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-blog">Blog &amp; News</a></div>-->
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-contact">Contact</a></div>-->
  <div class="pages-nav__item pages-nav__item--social">
    <a class="nav-link waves-light">Welcome, {{email}}</a>
    <a *ngIf="loggedIn; else showLoginBtn" class="waves-light" mdbWavesEffect (click)="logoutUser()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
    <ng-template #showLoginBtn>
      <a class="waves-light" mdbWavesEffect (click)="frame.show()">
        <i class="fas fa-sign-in-alt"></i> Login
      </a>
    </ng-template>
    <!--<a class="link link&#45;&#45;social link&#45;&#45;faded" href="#"><i class="fa fa-twitter"></i><span class="text-hidden">Twitter</span></a>-->
    <!--<a class="link link&#45;&#45;social link&#45;&#45;faded" href="#"><i class="fa fa-linkedin"></i><span class="text-hidden">LinkedIn</span></a>-->
    <!--<a class="link link&#45;&#45;social link&#45;&#45;faded" href="#"><i class="fa fa-facebook"></i><span class="text-hidden">Facebook</span></a>-->
    <!--<a class="link link&#45;&#45;social link&#45;&#45;faded" href="#"><i class="fa fa-youtube-play"></i><span class="text-hidden">YouTube</span></a>-->
  </div>
</nav>
<!-- /navigation-->
<!-- pages stack -->
<div class="pages-stack">
  <!-- page -->
  <div class="page" id="page-home">
    <!-- Blueprint header -->
    <!--<header class="bp-header cf">-->
      <!--<span class="bp-header__present">Blueprint <span class="bp-tooltip bp-icon bp-icon&#45;&#45;about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>-->
      <!--<h1 class="bp-header__title">Page Stack Navigation</h1>-->
      <!--<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>-->
      <!--<nav class="bp-nav">-->
        <!--<a class="bp-nav__item bp-icon bp-icon&#45;&#45;prev" href="http://tympanus.net/Blueprints/ZoomSlider/" data-info="previous Blueprint"><span>Previous Blueprint</span></a>-->
        <!--&lt;!&ndash;a class="bp-nav__item bp-icon bp-icon&#45;&#45;next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a&ndash;&gt;-->
        <!--<a class="bp-nav__item bp-icon bp-icon&#45;&#45;drop" href="http://tympanus.net/codrops/?p=25311" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>-->
        <!--<a class="bp-nav__item bp-icon bp-icon&#45;&#45;archive" href="http://tympanus.net/codrops/category/blueprints/" data-info="Blueprints archive"><span>Go to the archive</span></a>-->
      <!--</nav>-->
    <!--</header>-->
    <!--<img class="poster" src="images/1.jpg" alt="img01" />-->

    <app-home></app-home>
  </div>
  <!-- /page -->
  <div class="page" id="page-docu">
    <!--<header class="bp-header cf">-->
      <!--<h1 class="bp-header__title">Documentation</h1>-->
      <!--<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>-->
      <!--<p class="info">-->
        <!--"We cannot have peace among men whose hearts find delight in killing any living creature." &mdash; Rachel Carson-->
      <!--</p>-->
    <!--</header>-->
    <!--<img class="poster" src="images/6.jpg" alt="img06" />-->
    <app-hk></app-hk>
  </div>
  <div class="page" id="page-manuals">
    <!--<header class="bp-header cf">-->
      <!--<h1 class="bp-header__title">Manuals</h1>-->
      <!--<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>-->
      <!--<p class="info">-->
        <!--"When you adopt a vegan diet we make a connection, you don't go back, it is not a diet, it is a lifestyle." &mdash; Freelee Frugivore-->
      <!--</p>-->
    <!--</header>-->
    <!--<img class="poster" src="images/2.jpg" alt="img02" />-->
    <app-lost></app-lost>
  </div>
  <div class="page" id="page-software">
    <!--<header class="bp-header cf">-->
      <!--<h1 class="bp-header__title">Software &amp; Downloads</h1>-->
      <!--<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>-->
      <!--<p class="info">-->
        <!--"I decided to pick the diet that I thought would maximize my chances of long-term survival." &mdash; Al Gore-->
      <!--</p>-->
    <!--</header>-->
    <!--<img class="poster" src="images/3.jpg" alt="img03" />-->
    <app-inspection></app-inspection>
  </div>
</div>
<!-- /pages-stack -->
<button class="menu-button"><span>Menu</span></button>

<div class="footer-divider"></div>

<!--Feedback Modal-->
<div mdbModal #feedbackframe="mdbModal" class="modal fade left" tabindex="-1" role="dialog" [config]="{backdrop: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><i class="far fa-comment-dots"></i> Send Your Feedback</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="feedbackframe.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="sendFeedback()" novalidate>

        <div class="modal-body mx-3">

          <div class="md-form mb-5">
            <i class="far fa-user prefix grey-text"></i>
            <input id="email" type="email" class="form-control" [mdbValidate]="false"
                   [(ngModel)]="commentEmail" mdbInputDirective name="email">
            <label for="email">From</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea form-control" rows="2" mdbInputDirective
                      [mdbValidate]="false" [formControl]="commentFormControl"></textarea>
            <label for="form8">Your Comments</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="btn blue-gradient" mdbWavesEffect>
            <i class="far fa-paper-plane"></i> Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Login Modal-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" [config]="{backdrop: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <blockquote class="blockquote bq-primary text-center" *ngIf="loginMessage !== ''">
        <h2 class="bq-title"><i class="fas fa-user-lock"></i> {{loginMessage}} </h2>
      </blockquote>

      <form #loginForm="ngForm" (ngSubmit)="loginUser()" novalidate>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="defaultForm-email" name="email" [mdbValidate]="false" [formControl]="loginFormModalEmail" class="form-control" mdbInputDirective>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form mb-4">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" name="password" [mdbValidate]="false" [formControl]="loginFormModalPassword" class="form-control" mdbInputDirective>
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="btn blue-gradient" mdbWavesEffect>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
