
<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item"><a class="link link--page" (click)="setCurrentPage('home')" href="#page-home"><i class="fas fa-home"></i> Home</a></div>
  <div class="pages-nav__item"><a class="link link--page" (click)="setCurrentPage('hk')" href="#page-hk"><i class="fas fa-building"></i> Housekeeping</a></div>
  <div class="pages-nav__item"><a class="link link--page" (click)="setCurrentPage('lost')" href="#page-lost"> <i class="fas fa-search-dollar"></i> Lost & Found</a></div>
  <div class="pages-nav__item"><a class="link link--page" (click)="setCurrentPage('inspection')" href="#page-inspection"><i class="fas fa-clipboard-list"></i> Inspection</a></div>
  <div class="pages-nav__item"><a class="link link--page" (click)="setCurrentPage('inventory')" href="#page-inventory"><i class="fas fa-warehouse"></i> Inventory</a></div>
  <div class="pages-nav__item"><a class="link link--page" (click)="feedbackframe.show()" href="#page-home"><i class="fas fa-comment"></i> Feedback</a></div>
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-buy">Where to buy</a></div>-->
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-blog">Blog &amp; News</a></div>-->
  <!--<div class="pages-nav__item pages-nav__item&#45;&#45;small"><a class="link link&#45;&#45;page link&#45;&#45;faded" href="#page-contact">Contact</a></div>-->
  <div class="pages-nav__item pages-nav__item--social">
    <div *ngIf="loggedIn; else showLoginBtn">
      <a class="nav-link waves-light">Hello, {{email}}</a>
      <a class="waves-light" mdbWavesEffect (click)="logoutUser()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
    <ng-template #showLoginBtn>
      <a class="waves-light" mdbWavesEffect (click)="frame.show()">
        <i class="fas fa-sign-in-alt"></i> Login
      </a>
    </ng-template>
    <!--<a class="link link&#45;&#45;social link&#45;&#45;faded" href="#"><i class="fa fa-twitter"></i><span class="text-hidden">Twitter</span></a>-->
  </div>
</nav>
<div class="pages-stack">

  <div class="page" id="page-home" (click)="currentPage = 'home'">
    <app-home class="page-overflow"></app-home>
  </div>

  <div class="page" id="page-hk" (click)="currentPage = 'hk'">
    <app-hk (spinnerEvent)="toggleSpinner()" *ngIf="currentPage === 'hk'; else showHkTitle"
            class="page-overflow"></app-hk>
    <ng-template #showHkTitle>
      <h1 class="text-center"><i class="fas fa-building"></i> Housekeeping</h1>
    </ng-template>
  </div>

  <div class="page" id="page-lost" (click)="currentPage = 'lost'">
    <app-lost (spinnerEvent)="toggleSpinner()"
              *ngIf="currentPage === 'lost'; else showLostTitle" class="page-overflow"></app-lost>
    <ng-template #showLostTitle>
      <h1 class="text-center"><i class="fas fa-search-dollar"></i> Lost & Found</h1>
    </ng-template>
  </div>

  <div class="page" id="page-inspection" (click)="currentPage = 'inspection'">
    <app-inspection (spinnerEvent)="toggleSpinner()" *ngIf="currentPage === 'inspection'; else showInsTitle"
                    class="page-overflow"></app-inspection>
    <ng-template #showInsTitle>
      <h1 class="text-center"><i class="fas fa-clipboard-list"></i> Inspections</h1>
    </ng-template>
  </div>

  <div class="page" id="page-inventory" (click)="currentPage = 'inventory'">
    <app-inventory (spinnerEvent)="toggleSpinner()" *ngIf="currentPage === 'inventory'; else showInvTitle"
                   class="page-overflow"></app-inventory>
    <ng-template #showInvTitle>
      <h1 class="text-center"><i class="fas fa-warehouse"></i> Inventory</h1>
    </ng-template>
  </div>
</div>

<!-- /pages-stack ends -->

<!--Chat Button-->
<button *ngIf="showChatBtn" (click)="toggleChat()" mdbBtn mdbWavesEffect gradient="blue"
        class="chat-btn animated fadeInRight"
        [matTooltip]="isHk() ? 'Chat With Front Desk' : 'Chat with Housekeeping'" matTooltipPosition ="left"
>
  <i class="fas fa-comment-alt chat-icon"></i>
</button>

<!--Chat Window-->
<div *ngIf="showChatWindow">
  <app-chat (closeChat)="toggleChat()" [email]="email" class="chat-window animated fadeInUp"></app-chat>
</div>

<!--Menu Button-->
<button class="menu-button"><span>Menu</span></button>


<!--Feedback Modal-->
<div mdbModal #feedbackframe="mdbModal" class="modal fade left" tabindex="-1" role="dialog" [config]="{backdrop: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><i class="far fa-comment-dots"></i> Send Your Feedback</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="feedbackframe.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="sendFeedback()" novalidate>

        <div class="modal-body mx-3">

          <div class="md-form mb-5">
            <i class="far fa-user prefix grey-text"></i>
            <input id="email" type="email" class="form-control" [mdbValidate]="false"
                   [(ngModel)]="commentEmail" mdbInputDirective name="email">
            <label for="email">From</label>
          </div>

          <div class="md-form">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea form-control" rows="2" mdbInputDirective
                      [mdbValidate]="false" [formControl]="commentFormControl"></textarea>
            <label for="form8">Your Comments</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="btn blue-gradient" mdbWavesEffect>
            <i class="far fa-paper-plane"></i> Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Login Modal-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" [config]="{backdrop: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <blockquote class="blockquote bq-primary text-center" *ngIf="loginMessage !== ''">
        <h2 class="bq-title"><i class="fas fa-user-lock"></i> {{loginMessage}} </h2>
      </blockquote>

      <form #loginForm="ngForm" (ngSubmit)="loginUser()" novalidate>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="defaultForm-email" name="email" [mdbValidate]="false" [formControl]="loginFormModalEmail" class="form-control" mdbInputDirective>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form mb-4">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" name="password" [mdbValidate]="false" [formControl]="loginFormModalPassword" class="form-control" mdbInputDirective>
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn color="default" class="btn blue-gradient" mdbWavesEffect>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<mat-progress-spinner color="warn"  mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>-->

<!--Loader-->
<div id="wave-container" *ngIf="showSpinner">
  <div class="lds-hourglass"></div>
</div>

<div id="inspection-overlay"></div>
