@import "../../globalVars";

.update-lost-item {
  position: relative;
  top:20%;
}

h3 {
  display: flex;
  justify-content: center;
}


.update-lost-item-content {
  display: flex;
  justify-content: center;
}



