@import "assets/css/demo.css";
@import "assets/css/component.css";

/* You can add global styles to this file, and also import other style files */

@import "globalVars";

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 70em) {
  .navbar {
    height: 100px;
    transition: height .5s ease-in-out, font-size 1ms ease-in-out !important;
    font-size: 1.1em;

  }
}

.navbar {
  background-image: url($my-base-path + 'navbar_background.jpg') !important;
}

#main:after, #main:before {
  content : "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url($my-base-path + 'website-background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : .15;
  z-index: -1;
}

mat-header-cell {
  display:flex !important;
  justify-content:center !important;
  color: white !important;
}

.modal-backdrop {
  z-index: -1 !important;
}

.mat-tab-label-content, input::placeholder, .mat-subheader {
  color: white !important;
}

mat-cell {
  display:flex !important;
  justify-content:center !important;
  color: white !important;
}

mat-table, mat-tab, mat-tab-group, .table-container {
  overflow:hidden;
  background-color: transparent !important;
}

mdb-card-img > img {
  width: 555px !important;
  height: 237px !important;
  opacity: 0.7;
}

.card {
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 1 !important;
}

.edit-button {
  height: 2rem;
  padding: 0;
  width: 2rem;
  border-radius: 50%;
  animation: opendoor .7s ease-in-out 0s 1;
  transition: transform .1s ease-in-out;
}

.edit-button:hover {
  transform: translate3d(0, -5px, 0);
  color: black;
  box-shadow: 0 2px 10px 1px black !important;
}

input[name=search] {
  width: 150px;
  font-family: monospace;
  font-style: oblique;
  font-weight: lighter;
  box-sizing: border-box;
  border: 3px solid #942f2f;
  color: white !important;
  border-radius: 30px;
  font-size: 16px;
  background: transparent url($my-base-path + 'search_icon.png') no-repeat 10px 10px;
  background-size: 30px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[name=search]:focus {
  width: 100%;
  outline:none;
}


html, body { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 80px;
}


.inspection-overlay {
  z-index: 1000 !important;
  background-color: rgba(0,0,0,.4) !important;
  background-size: cover !important;
}

.bottom-menu  {
  display: none;
}

@media (max-width: 37.5em)  {
  .bottom-menu {
    display: block;
    position: sticky;
    height: 2vh;
    width: 100%;
    background: transparent;
    z-index: 13000;
    transition: all .5s ease-in-out;
  }

  .bottom-menu-clicked {
    height: 100vh;
    background: black;
    box-shadow: 2px 2px 2px black;
    overflow: auto;
  }

  .bottom-menu-button{
    background: transparent;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0 2px 2px black;
    font-size: 2.5rem;
    color: white;
    transition: all .3s ease-in-out;
    z-index: 12000;
  }

  .bottom-menu-button-clicked {
    color: white;
    font-size: 1.5rem;
    padding: 0;
    background: transparent;
    margin: 10px;
  }

  .one, .two, .menu {
    display: none;
  }

  .menu-show {
    display: block;
    position: sticky;
    top: 2%;
    left: 0;
    //background: #040225;
    z-index: 12000;
    width: 90%;
    color: #b2c6e9;
    border-radius: 20px;
    padding: 10px;
    transition: all .3s ease-in-out;
    //animation: openMenu 1s ease-in-out 0s 1;
  }
}

.cdk-overlay-container {
  z-index: 10000000;
}

mat-progress-spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12000 !important;
}

@mixin heading {
  margin-bottom: .35em;
  line-height: 1.2;
  color:inherit;
}

.footer-divider {
  margin: 20px 0;
  width: 100%;
  height: 2em;
  background-color: transparent;
  @include heading;
}

@media print {
  html.js,
  .js body,
  .js .page {
    margin: auto;
    margin-top: 0 !important;
    height: auto;
  }

  mat-tab-header {
    display: none !important;
  }
}

.card {
  background-color: rgb(42, 43, 48);
  color: white !important;
}

hr {
  border-color: white;
}

.mat-tab-header-pagination-chevron,
.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
  border-color: rgba(255, 255, 255, 0.87);
}

//Update SIdebar
#bg:after, #bg:before {
  content : "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url($my-base-path + 'sidebar_background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : .1;
  z-index: -1;
}

@-webkit-keyframes opendoor {
  from {
    -webkit-transform: perspective(1000px) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
  }
  to {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 100% 50%;
  }
}

@-webkit-keyframes openMenu {
  from {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
  }
  to {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 100% 50%;
  }
}

@-webkit-keyframes closedoor {
  from {
    opacity:1;
    -webkit-transform-origin: 100% 50%;
  }
  to {
    opacity:0;
    -webkit-transform-origin: 100% 50%;
  }
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
