/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  //background: url('/static/app/assets/images/website-background.jpg') fixed !important ;
  //background: url('/assets/images/website-background.jpg') fixed !important ;
}

#main:after, #main:before {
  content : "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/static/app/assets/images/website-background_snow.jpg');
  //background-image: url('/assets/images/website-background_snow.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity : .08;
  z-index: -1;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-cell {
  display:flex !important;
  justify-content:center !important;
}

mat-table {
  overflow:hidden;
}

mat-tab {
  overflow: hidden;
}

mat-tab-group {
  overflow: hidden;
}

.table-container {
  overflow: hidden;
}


mdb-card-img > img {
  width: 555px !important;
  height: 237px !important;
  opacity: 0.7;
}

.card {
  background-color: rgba(255,255,255,.8) !important;
}

.edit-button {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 36px;
  padding: 0;
  width: 60px;
}

.edit-button:hover {
  position: relative;
  bottom: .2em;
  color: black;
}

input[id=search] {
  width: 150px;
  font-family: monospace;
  font-style: oblique;
  font-weight: lighter;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url('/static/app/assets/images/search_icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[id=search]:focus {
  width: 100%;
  outline:none;
}


html, body { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 80px;
}


.inspection-overlay {
  z-index: 1000 !important;
  background-color: rgba(0,0,0,.4) !important;
  background-size: cover !important;
}

@media (min-width: 70em) {
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ff1b08; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
}

#myBtn:hover {
  background-color: #550c00; /* Add a dark-grey background on hover */
}

app-lost {
  margin-bottom: 150px;
}

@media (max-width: 37.5em)  {
  #myBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    border: none;
    outline: none;
    background-color: #ff1b08;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px 0 0 0;
    height: 2em;
    width: 4em;
  }
}

.cdk-overlay-container {
  z-index: 10000000;
}

mat-progress-spinner {
  z-index: 10000000000 !important;
}
