

.login-card {
  display: flex;
  justify-content: center;
}

.lobby-bg {
  background-image: url('/static/app/assets/images/lobby_background.jpg');
  //background-image: url('/assets/images/lobby_background.jpg');
  background-repeat: no-repeat;
  height:55%;
  width: 100%;
  background-size: cover;
}

.hotel-logo {
  margin-top:5%;
  background-image: url('/static/app/assets/images/banner.png');
  //background-image: url('/assets/images/banner.png');
  background-repeat: no-repeat;
  height:200px;
  width: 100%;
  background-size: 50%;
}

.home-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
